:host {
	display: flex;
	width: 100%;
}

mat-slider {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

::ng-deep {
	.mat-accent .mat-slider-track-fill,
	.mat-accent .mat-slider-thumb,
	.mat-accent .mat-slider-thumb-label {
		background-color: var(--800);
	}

	.mat-accent .mat-slider-thumb-label-text {
		color: var(--success-color);
	}

	.mat-slider-track-background {
		background-color: var(--600);
	}
}
