<mat-select
	#matSelect
	(openedChange)="setDefault($event)"
	class="select-box"
	[(ngModel)]="value"
	[multiple]="multiple"
	[disableOptionCentering]="disableOptionCentering"
	[disableRipple]="disableRipple"
	[disabled]="disabled"
	[id]="id"
	[panelClass]="panelClass"
	[placeholder]="placeholder"
	[required]="required"
	[value]="value"
	[typeaheadDebounceInterval]="typeaheadDebounceInterval"
>
	<div class="search-box" *ngIf="search && options.length > 5">
		<ril-form-group [formGroup]="searchForm">
			<ril-input
				[placeholder]="lang.common.search"
				[prefixIcon]="'icofont-search-1'"
				(keydown)="$event.stopPropagation()"
				formControlName="search"
			></ril-input>
		</ril-form-group>
	</div>
	<mat-option *ngFor="let option of filtered_options" [value]="option.value">{{ option.content }}</mat-option>
</mat-select>
