:host {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin: -var(--spacer-xs);

	&.ril-radio-horizontal {
		flex-direction: row;
	}

	::ng-deep {
		ril-radio-option {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
