:host {
	position: relative;

	.menu-trigger {
		opacity: 0%;
		visibility: hidden;
		position: absolute;
		pointer-events: none;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

::ng-deep {
	.mat-menu-panel {
		background: var(--800);
		border-radius: var(--radius-md) !important;

		&::-webkit-scrollbar {
			display: none;
			scrollbar-width: none;
		}
	}
}
