:host {
	border-radius: 0 0 var(--radius-md) var(--radius-md);
	color: var(--c-800);
	display: block;
	font-size: var(--font-size-md);
	line-height: 1.3;
	width: 100%;

	.ril-richtext-wrap {
		border-radius: 0 0 var(--radius-md) var(--radius-md);
		color: var(--c-800);
		display: block;
		font-size: var(--font-size-md);
		line-height: 1.3;
		width: 100%;

		.richtext-control {
			background: var(--800);
			border: 1px solid var(--800);
			box-shadow: var(--shadow-sm);
			border-top: none;
			border-radius: inherit;
			color: inherit;
			cursor: inherit;
			display: block;
			font: inherit;
			height: 100%;
			margin: 0;
			padding: var(--spacer-sm) var(--spacer-md);
			transition: background 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
				color 0.2s ease-in-out;
			width: 100%;

			a {
				color: var(--accent-text);
				text-decoration: underline;
			}

			&:hover {
				background: var(--700);
				border-color: var(--700);
				box-shadow: var(--shadow-md);
			}
		}

		.char-limiter {
			color: var(--500);
			display: flex;
			font-size: 0.9em;
			justify-content: flex-end;
			margin: 0 -2px;
			pointer-events: none;

			span {
				display: block;
				margin: var(--spacer-xs) 2px 0;
			}
		}
	}

	&.richtext-focus {
		color: var(--c-800);

		.ril-richtext-wrap {
			.richtext-control {
				background: var(--700);
				border-color: var(--c-200);
				box-shadow: var(--shadow-md);
			}
		}

		ril-editor-toolbar {
			background-color: var(--600);
			border-color: var(--c-200);

			.toolbar {
				.set {
					background-color: var(--600);
				}
			}
		}
	}

	&.ng-invalid.ng-touched,
	.has-error & {
		.ril-richtext-wrap {
			.richtext-control {
				border: 1px solid var(--error-color);
			}
		}
	}

	&.richtext-disabled,
	&.richtext-readonly {
		color: var(--c-700);

		.ril-richtext-wrap {
			cursor: not-allowed;

			.richtext-control {
				background-color: var(--500);
				border-color: var(--500);
				pointer-events: none;
				box-shadow: none;
			}
		}
	}

	&.richtext-not-resize {
		.ril-richtext-wrap {
			.richtext-control {
				resize: none;
			}
		}
	}

	&.richtext-nostyle {
		background: none !important;
		border: none !important;
		padding-left: 0;

		.ril-richtext-wrap {
			background: none !important;
			border: none !important;
			padding-left: 0;
		}

		.richtext-control {
			box-shadow: none !important;
			background: none !important;
			border: none !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}
