:host {
	::ng-deep {
		.mat-expansion-panel {
			background: var(--800);
			box-shadow: var(--shadow-md);
			border-radius: var(--radius-md);

			.mat-expansion-indicator::after {
				color: var(--c-700) !important;
			}

			.mat-expansion-panel-header {
				&:hover {
					background: none !important;
					opacity: 0.8;
				}
			}
		}
	}
}
